<!DOCTYPE html>
<html>
<head>
  <title>ZoomOutFinal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
</head>
<body>

<%= render 'layouts/header' %>
<%= yield %>

</body>
</html>
